@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600&display=swap");


* {
  font-family: "Encode Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  width: 360px;
  box-sizing: border-box;
}
